<div class="board">
  <table>
    <% 20.times do |x|%>
      <tr>
        <% 20.times do |y|%>
          <td class="cell" id="<%= x %>,<%= y %>">

          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
<button id="skip" hidden>
  <%= link_to play_path(), id: "skip-btn" %>
</button>
