<div class="display">
  <div class="container">
    <table class="board">
      <% @matrix.each_with_index do |row, i|  %>
        <tr class="row">
          <% row.each_with_index do |cell, j| %>
            <% if cell.alive? %>
              <td class="cell black" x-position="<%= i %>" y-position="<%= j %>">

              </td>
            <% else %>
              <td class="cell white" x-position="<%= i %>" y-position="<%= j %>">

              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="config">
    <form action="" method="post">
      <label for="rows">nb of rows</label>
      <input type="text" name="rows">
      <label for="columns">nb of columns</label>
      <input type="text">
      <label for="rules">choose rules</label>
      <input type="text">
      <label for="random">random points</label>
      <input type="checkbox">
      <input type="submit">
    </form>
  </div>

</div>
